#identify .modal-body{ padding-bottom: 0px; }
.chat{ overflow-y: scroll; }
.chat-window{ position: relative; height: 100%; /*border: 1px solid #000;*/ }
.chat-window h2{ margin: 0; padding: 0; font-size: 1em; margin-bottom: 5px; }
.chat-window .chat{ height: 90%; margin-bottom: 5px; border: 1px solid #EDEEF0; }
.chat-window > .message{ height: 10%; }

.chat-row{ padding: 0; }
.chat-row .name, .chat-row .message{ padding: 2px; /*border: 1px solid #BED6ED;*/ }
.chat-row .name{ text-align: right; background-color: #E4ECF7; padding-right: 5px;  }
.chat-row .name .datetime{ display: inline-block; padding-right: 2px; }
.chat-row .message{ background-color: #F3F7FB; padding-left: 5px; }
.chat-row .message .glyphicon{ float: right; margin-right: 10px; }
.chat-row.loading{ text-align: center; padding: 5px 0 5px; }

#rooms .acc-menu .active{ font-weight: bold; }
.chat-window > h2{ display: inline-block; }
.chat-options{
    float: right;
    margin-right: 10px;
}
.chat-options .users{ color: #78BA38; }
.chat-options .users-list{
    border: 1px solid #9f9f9f;
    width: 20%;
    position: absolute;
    right: 0;
    z-index: 90;
    top: 25px;
    background-color: #E6E7E8;
    height: 90%;
    overflow-y: scroll;
}
.chat-options .users-list ul, .chat-options .users-list ul li{
    margin: 0; padding: 0;
    list-style: none;
}
.chat-options .users-list ul li > a{
    display: block;
    padding: 2px 5px;
}
.chat-options .users-list ul li > a:hover{
    background-color: #edeef0;
}

.plain h4{ border-bottom: 1px solid #d2d3d6 }

.post form{ font-size: 12px !important; width: 100%; margin: 0; }
.post form textarea{ width: 100%; min-height: 75px; margin-bottom: 10px; }
.post button{ }
.post .topic{ margin-left: 5px; font-size: 2em; }

.posts h4{ margin-top: 0; }
.posts-container{
    overflow: hidden;
}
.post-row{ padding: 5px 0; border: 1px solid #edeef0; overflow: hidden; margin-bottom: 5px;  }
.post-row:hover, .post-row.active{ background-color: #d2d3d6; }
.post-row .user-icon{ font-size: 2em; text-align: center;}
.post-row ul{ list-style: none; padding: 0; margin: 0; }
.post-row ul li{ display: inline-block; padding-right: 5px; }